{% extends 'template.html' %}

{% block content %}


<div class="container">
  <h3 class=""> Home </h3>
  <div class="card d-inline-block" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Pet Store</h5>
      <p class="card-text"> Pets and pet accessories sold here.</p>
      <a href="http://127.0.0.1:8000/pet-store" class="btn btn-dark">Shop Pet Store</a>
    </div>
  </div>
  <div class="card d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gun Store</h5>
      <p class="card-text"> Guns and gun accessories sold here.</p>
      <a href="http://127.0.0.1:8000/gun-store" class="btn btn-dark">Shop Gun Store</a>
    </div>
  </div>
  <div class="card d-inline-block" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Grocery Store</h5>
      <p class="card-text"> Vegan and Carnavore diets sold here.</p>
      <a href="http://127.0.0.1:8000/grocery-store" class="btn btn-dark">Shop Grocery Store</a>
    </div>
  </div>
</div>





{% endblock %}